* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height:1.5;
}
.starshipCard {
  padding: 5rem;
  width: 48%;
  border: 1px solid black;
  text-align: center;
}
main {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
